<!DOCTYPE html>
<html>
<head>
<title>jobwarning工作预警</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("jobwarning:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			<script type="text/javascript">
				var update = false;
				var del = false;
			</script>
			#if($shiro.hasPermission("jobwarning:update"))
			<!-- <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a> -->
			<script type="text/javascript">
				update=true;
			</script>
			#end
			#if($shiro.hasPermission("jobwarning:delete"))
			<!-- <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a> -->
			<script type="text/javascript">
				del=true;
			</script>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
					   	<div class="form-group">
   	<div class="col-sm-2 control-label">项目部</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.project" name="project" placeholder="项目部"/>
    </div>
       	</div>
   				   	<div class="form-group">
   	<div class="col-sm-2 control-label">业务板块</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.business" name="business" placeholder="业务板块"/>
    </div>
       	</div>
   				   	<div class="form-group">
   	<div class="col-sm-2 control-label">业务类型</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.btype" name="btype" placeholder="业务类型"/>
    </div>
       	</div>
   				   	<div class="form-group">
   	<div class="col-sm-2 control-label">预警类型</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.wtype" name="wtype" placeholder="预警类型"/>
    </div>
       	</div>
   				   	<div class="form-group">
   	<div class="col-sm-2 control-label">是否推送本人</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.flag" name="flag" placeholder="是否推送本人"/>
    </div>
       	</div>
   				   	<div class="form-group">
   	<div class="col-sm-2 control-label">时间设置</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.intv" name="intv" placeholder="时间设置"/>
    </div>
       	</div>
   				   	<div class="form-group">
   	<div class="col-sm-2 control-label">接收人</div>
   	   	<div class="col-sm-10">
      <input type="text" class="form-control" v-model="jobwarning.receive" name="receive" placeholder="接收人"/>
    </div>
       	</div>
   																	#if($shiro.hasPermission("jobwarning:update") || $shiro.hasPermission("jobwarning:save"))
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" v-show="upd" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
		</div>
		#end
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/jobwarning/jobwarning.js?_${date.systemTime}"></script>
</body>
</html>