<!DOCTYPE html>
<html>
<head>
<title>省市数据 (T_AREA)</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("area:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			<script type="text/javascript">
				var update = false;
				var del = false;
			</script>
			#if($shiro.hasPermission("area:update"))
			<script type="text/javascript">
				update=true;
			</script>
			#end
			#if($shiro.hasPermission("area:delete"))
			<script type="text/javascript">
				del=true;
			</script>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
								<div class="form-group">
			   	<div class="col-sm-2 control-label">地址代码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="area.no" placeholder="地址代码"/>
			    </div>
			</div>
						<div class="form-group">
			   	<div class="col-sm-2 control-label">地址类型</div>
			   	<div class="col-sm-10">
				   	<label class="radio-inline">
					  <input type="radio" name="type" value="1" v-model="area.type"/> 省级
					</label>
					<label class="radio-inline">
					  <input type="radio" name="type" value="2" v-model="area.type"/> 市级
					</label>
					<label class="radio-inline">
					  <input type="radio" name="type" value="3" v-model="area.type"/> 县级
					</label>
			    </div>
			</div>
						<div class="form-group">
			   	<div class="col-sm-2 control-label">地址中文名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="area.cnm" placeholder="地址中文名"/>
			    </div>
			</div>
						<div class="form-group">
			   	<div class="col-sm-2 control-label">地址英文名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="area.enm" placeholder="地址英文名"/>
			    </div>
			</div>
						<div class="form-group">
			   	<div class="col-sm-2 control-label">地址简称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="area.abbrnm" placeholder="地址简称"/>
			    </div>
			</div>
						<div class="form-group">
			   	<div class="col-sm-2 control-label">父级地址码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="area.pno" placeholder="父级地址码"/>
			    </div>
			</div>
						<div class="form-group">
			   	<div class="col-sm-2 control-label">邮编</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="area.zno" placeholder="邮编"/>
			    </div>
			</div>
			#if($shiro.hasPermission("area:update") || $shiro.hasPermission("area:save"))
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" v-show="upd" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
			#end
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/area/area.js?_${date.systemTime}"></script>
</body>
</html>