<!DOCTYPE html>
<html>
<head>
<title>邮件记录</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
	<fieldset>
				<legend>
					<i class="fa fa-search"></i>&nbsp;查询条件
				</legend>
				<div class="col-sm-6">
					<label class="myLabel-content" style="margin-top: 8px;">日期范围：</label>
					<div class="col-sm-4 control-label">
						<input type="text" class="form-control" name="" id="starttime"
							placeholder="开始日期" onClick="WdatePicker()" />
					</div>
					<div class="col-sm-4 control-label">
						<input type="text" class="form-control" name="" id="endtime"
							placeholder="结束日期" onClick="WdatePicker()" />
					</div>
				</div>


				<div class="col-sm-2">
					<a class="btn btn-info" @click="query">查询</a>
				</div>

			</fieldset>
		<div class="grid-btn">
			#if($shiro.hasPermission("maillog:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			<script type="text/javascript">
				var update = false;
				var del = false;
			</script>
			#if($shiro.hasPermission("maillog:update"))
			<!-- <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a> -->
			<script type="text/javascript">
				update=true;
			</script>
			#end
			#if($shiro.hasPermission("maillog:delete"))
			<!-- <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a> -->
			<script type="text/javascript">
				del=true;
			</script>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div v-show="save">
				<div class="form-group">
				   	<div class="col-sm-2 control-label">接收人</div>
				   	   	<div class="col-sm-10">
						<input type="hidden" class="form-control" style="cursor:pointer;" v-model="maillog.receiver" name="receiver" readonly="readonly" placeholder="接收人"/>
				        <input type="text" class="form-control" style="cursor:pointer;" v-model="maillog.receiverName" name="receiverName" @click="deptTree" readonly="readonly" placeholder="接收人"/>
				    </div>
		       	</div>
		       	<div class="form-group">
				   	<div class="col-sm-2 control-label">发送模板</div>
				   	   	<div class="col-sm-10">
				   	   	<input id="tid" class="easyui-combobox" name="id" data-options="readonly: true">
				    </div>
		       	</div>
		   		<div class="form-group">
				   	<div class="col-sm-2 control-label">内容</div>
				   	   	<div class="col-sm-10">
				      	<textarea class="textarea contentArea" placeholder="内容" v-model="maillog.content" name="content" readonly="readonly" ></textarea>
				    </div>
		       	</div>
		       	<div class="form-group">
				   	<div class="col-sm-2 control-label">参数</div>
				   	   	<div class="col-sm-10">
				      	<lable id="par"></lable>
				    </div>
       			</div>
       		</div>
       		<div v-show="!save">
				<div class="form-group">
					<div class="col-sm-2 control-label">接收人</div>
					<div class="col-sm-10">
						<pre name="unm"></pre>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">内容</div>
					<div class="col-sm-10">
						<pre name="content"></pre>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">发送状态</div>
					<div class="col-sm-10">
						<pre name="status"></pre>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">发送日志</div>
					<div class="col-sm-10">
						<pre name="log"></pre>
					</div>
				</div>
			</div>
	   		#if($shiro.hasPermission("maillog:update") || $shiro.hasPermission("maillog:save"))
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" v-show="upd" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
			#end
		</form>
	</div>
</div>

<!-- 接收人菜单 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>

<script src="${rc.contextPath}/js/maillog/maillog.js?_${date.systemTime}"></script>
</body>
</html>